a {
  align-self: flex-start; 
  pointer-events: all;
}

h3 {
  all: unset;
  padding: 0px 0px 16px 0px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

img {
  border-radius: 5px;
  max-width: 800px;
}

.arrow {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.arrow:hover, .arrow:focus {
  background-color: dodgerblue;
}

.container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 10vw;
  padding-top: 80px;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  width: 80vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  line-height: 1.5rem;
}

.textlink {
  text-decoration: underline dotted;
}

@media (min-width: 480px) {
  h3 {
    font-size: 2rem;

  }

  img {
    border-radius: 10px;
  }

  .description {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

.darkemphasis {
  color: var(--color-fg-secondary);
}

.lightemphasis {
  color: var(--color-fg-secondary);
}

@media (min-width: 1000px) {
  h3 {
    font-size: 4rem;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .linkicon {
    margin-left: 12px;
    transform: scale(2);
  }
}