* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

:root {
  font-family: 'Roboto', Arial, sans-serif;
  --color-bg-primary: #eee;
  --color-fg-primary: #333;
  --color-fg-secondary: dodgerblue;
  --color-bg-dark-primary: #222;
  --color-fg-dark-primary: #ddd;
  --color-fg-dark-secondary: lightblue;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-primary);
}

.lightmode {
  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);
}

.darkmode {
  background-color: var(--color-bg-dark-primary);
  color: var(--color-fg-dark-primary);
}

.lightmode-secondary {
  color: var(--color-fg-secondary);
}

.darkmode-secondary {
  color: var(--color-fg-dark-secondary);
}